.main {
  background-color: $medium;
  height: 92.5vh;
  font-family: $text;
  &--yourProjects {
    height: 30%;
    &__title {
      padding: 20px 40px;
    }
    &__text {
      padding: 20px 40px;
    }
  }
  &--createBtn {
    height: 50px;
    background-color: rgb(250, 248, 248) rgb(184, 179, 179);
    &:hover {
      background-color: rgba(204, 203, 203, 0.7);
      color: $darkest;
    }
  }
}
.modal-content {
  background-image: url('https://www.nawpic.com/media/2020/white-nawpic-17.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.modal-header {
  &__title {
    width: 90%;
    height: 30px;
    border-radius: 3px;
    border: solid 1px rgb(189, 188, 188);
  }
}
.modal-body {
  &__description {
    width: 95%;
    height: 50px;
  }
}
.modal-footer {
  &__button {
    background-color: $lightBackground;
    color: white;
    &:hover {
      background-color: $darkBackground;
    }
  }
}
