.main {
  background-color: $medium;
  height: 92.5vh;
  font-family: $text;
  padding: 10px;
}
.yourProjects {
  height: 30%;
  &--title {
    padding: 20px 40px;
  }
}

.form {
  background-image: url('https://www.nawpic.com/media/2020/white-nawpic-17.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  margin: 20px 50px;
  border-radius: 3px;
  &--header {
    margin: 10px;
    padding: 10px;
    margin-left: 40px;
    &__title {
      height: 30px;
      border-radius: 3px;
      border: solid 1px rgb(189, 188, 188);
      width: 80%;
    }
  }
  &--body {
    padding: 10px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    &__description {
      width: 80%;
      height: 60px;
    }
    &__id {
      height: 30px;
      border-radius: 3px;
      border: solid 1px rgb(189, 188, 188);
      margin-bottom: 15px;
      width: 80%;
    }
  }
  &--footer {
    margin-left: 40px;
    padding: 15px;
    &__button {
      color: white;
      background: $darkBackground;
      padding: 5px;
      border: none;
      border-radius: 3px;

      &:hover {
        background-color: $lightBackground;
      }
    }
  }
}
