.header {
  background-color: $darkBackground;
  display: flex;
  justify-content: space-between;
  font-family: $text;
  &--nav {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    &__home {
      font-size: 23px;
      color: $white;
      padding: 3px;
      background-color: $lightBackground;
      border-radius: 3px;
      cursor: pointer;
    }
    &__search {
      margin-left: 10px;
      margin-bottom: 5px;
      height: 34px;
      border-radius: 3px;
      border: none;
      background-color: $lightBackground;
      &::placeholder {
        color: white;
      }
      &:focus {
        color: $darkest;
      }
      &--icon {
        margin-left: -23px;
        font-size: 16px;
        color: white;
      }
    }
  }
  &--logoSection {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    width: 10%;
    color: $lightBackground;
    margin-right: 100px;
    &__title {
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-right: 70px;
    }
    &__icon {
      font-size: 40px;
    }
  }
  &--new {
    margin-right: 30px;
    margin-top: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightBackground;
    color: white;
    font-size: 23px;
    border-radius: 3px;
    cursor: pointer;
  }
}
